<!DOCTYPE html>
<html>
<head>
	<title>Data Display JS Module</title>		
	<!-- Set the page's meta data -->
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<meta name="author" content="Ian Hitchcox">
	<meta name="description" content="Display data in HTML format from undetermined file">
</head>

<body ng-app="main" ng-controller="mainController">	
		<!-- Allow the user to upload files from their local storage -->	
		<input type="file" id="file" name="file"  />

		<!-- Allow the user to add a file from a url. This will be implemented if I have time -->
		<!--<input type="text" id="urlFile" name="urlFile" />
			<button id="urlFileSubmit">Submit</button>-->

		<!-- Data from the files is displayed in the table -->
		<!-- ng-cloak stops the expressions being displayed before they are evaluated -->
		<table class="table table-hover" style="border: 1px solid black; width:100%">
			<caption>Data Display</caption>
			<thead>
				<tr>
					<th ng-cloak="true" ng-repeat="row in data.titles" style="text-align: left" >{{row}}</th>
					<th ng-if="!csvFile" style="text-align: left">{{printTitles}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-cloak="true" ng-repeat="row in data.values track by $index" ng-if="csvFile">
					<td>{{row.Name || row}}</td>						
					<td>{{row.Address}}</td>
					<!-- For display purposes, only show the postcode in uppercase -->
					<td>{{row.Postcode | uppercase}}</td>
					<td>{{row.Phone}}</td>
					<!-- Credit Limit is set with a space in the name, which is why this property is reference differently.
							With a space in the name, the only way to reference a property is with bracket notation-->
					<td>{{row['Credit Limit']}}</td>
					<td>{{row.Birthday | date}}</td>
				</tr>
				<tr ng-cloak="true" ng-repeat="row in data.values track by $index" > 
					<!-- Had to reference the data in this way because Angular didn't like row[0].
							Didn't have time to figure it out so this hotfix works for now -->
					<td ng-if="!csvFile">{{row["Name            Address               Postcode Phone         Credit Limit Birthday"]}}<td> </tr>
			</tbody>
		</table>			

	<!-- Load Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js"></script>
	<script src="src/js/app.js"></script>
	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
	<script src="src/js/jquery.csv-0.71.js"></script>
</body>
</html>